[cookies]
PHPSESSID = YOUR_PHPSESSID
cf_clearance =

[user-agent]
user-agent = YOUR_USER_AGENT

[settings]
giveaways_from_banners=1
group=1
wishlist=1
recommended=1
search_list=1
random_list=1
send_notify=1
beep=1
threshold=10
silent_mode_at_night=1
min_positive_percent=80
min_review_count=100
